global:
  prometheus:
    enabled: false
    fqdn: http://prometheus-operated.monitoring:9090
  grafana:
    enabled: false
kubecostProductConfigs:
  clusterName: CLUSTER_NAME
federatedETL:
  useExistingS3Config: false
  primaryCluster: false
  federatedCluster: true
kubecostModel:
  containerStatsEnabled: true
  federatedStorageConfigSecret: kubecost-object-store
serviceAccount:
  create: false
  name: kubecost-irsa-s3
prometheus:
  kubeStateMetrics:
    enabled: false
  kube-state-metrics:
    disabled: true
  server:
    global:
      external_labels:
        # cluster_id should be unique for all clusters and the same value as .kubecostProductConfigs.clusterName
        cluster_id: CLUSTER_NAME
networkCosts:
  # optional, see: https://docs.kubecost.com/install-and-configure/advanced-configuration/network-costs-configuration
  enabled: true
  config:
    services:
      # set the appropriate cloud provider to true
      amazon-web-services: true
      # google-cloud-services: true
      # azure-cloud-services: true