kubecostMetrics:
  # Guide: https://docs.kubecost.com/architecture/ksm-metrics#disabling-ksm-emission
  emitKsmV1Metrics: false # emit all KSM metrics in KSM v1 if true.
  emitKsmV1MetricsOnly: true # emit only the KSM metrics missing from KSM v2, this is required to be true.
global:
  prometheus:
    enabled: false
    fqdn: http://prometheus-operator-prometheus.monitoring:9090 # local prometheus endpoint
  grafana:
    enabled: false
    proxy: false
kubecostProductConfigs:
  clusterName: CLUSTER_NAME
federatedETL:
  useExistingS3Config: false
  primaryCluster: false
  federatedCluster: true
kubecostModel:
  containerStatsEnabled: true
  federatedStorageConfigSecret: kubecost-object-store
serviceAccount:
  create: false
  name: kubecost-irsa-s3
prometheus:
  server:
    global:
      external_labels:
        # cluster_id should be unique for all clusters and the same value as .kubecostProductConfigs.clusterName
        # this must be set, even when prometheus is disabled.
        cluster_id: CLUSTER_NAME
networkCosts:
  # optional, see: https://docs.kubecost.com/install-and-configure/advanced-configuration/network-costs-configuration
  enabled: true
  config:
    services:
      # set the appropriate cloud provider to true
      amazon-web-services: true
      # google-cloud-services: true
      # azure-cloud-services: true