kubecostMetrics:
  # Guide: https://docs.kubecost.com/architecture/ksm-metrics#disabling-ksm-emission
  emitKsmV1Metrics: false # emit all KSM metrics in KSM v1 if true.
  emitKsmV1MetricsOnly: true # emit only the KSM metrics missing from KSM v2, this is required to be true.
kubecostProductConfigs:
  metricsConfigs:
    disabledMetrics:
      - kube_node_status_capacity
      - kube_node_status_allocatable
      - kube_node_labels
      - kube_node_status_condition
      - kube_namespace_labels
      - kube_pod_labels
      - kube_pod_owner
  clusterName: kubecostProductConfigs_clusterName # set this to the name of the primary cluster. ideally the same as the value that promClusterIDLabel would be
kubecostModel:
  containerStatsEnabled: false
  warmCache: false
  warmSavingsCache: false
  etl: false
  etlCloudAsset: false
  maxQueryConcurrency: 1
prometheus:
  server:
    global:
      external_labels:
        # cluster_id should be unique for all clusters and the same value as .kubecostProductConfigs.clusterName
        cluster_id: kubecostProductConfigs_clusterName
global:
  grafana:
    enabled: false
    proxy: false
  prometheus:
    enabled: false
    fqdn: http://prometheus-server-service-name.prometheus-server-namespace.svc:80 # local prometheus endpoint
# serviceMonitor: # if your prometheus supports serviceMonitors, set these to true. Otherwise see extraScrapeConfigs.yaml in this directory
#   enabled: true
#   additionalLabels:
#     label-key: label-value
#   networkCosts:
#     enabled: true
#     additionalLabels:
#       label-key: label-value
networkCosts:
  enabled: true
  config:
    services:
      # set one the following to true based on our cloud provider:
      amazon-web-services: false
      google-cloud-services: false
      azure-cloud-services: false
