federatedETL:
  agentOnly: false
  federatedCluster: true
  
serviceAccount:
  create: false # Set this to false if you're bringing your own service account.
  # annotations: {}
  name: kubecost-serviceaccount
  
kubecostProductConfigs:
  # projectID: "AWS_kubecostProductConfigs_projectID"
  cloudIntegrationSecret: cloud-integration
  # clustername should be unique for all clusters
  clusterName: kubecostProductConfigs_clusterName
  # productKey:
  #   secretname: productkey
  #   enabled: false #not needed for eval
  # spot feed is optional and has low value when using cloud billing integration
  # awsSpotDataRegion: AWS_kubecostProductConfigs_awsSpotDataRegion
  # awsSpotDataBucket: AWS_kubecostProductConfigs_awsSpotDataBucket
  # awsSpotDataPrefix: dev
  
kubecostModel:
  federatedStorageConfigSecret: federated-store
  
prometheus:
  server:
    global:
      external_labels:
        # cluster_id should be unique for all clusters and the same value as .kubecostProductConfigs.clusterName
        cluster_id: kubecostProductConfigs_clusterName
  serviceAccounts:
    server:
      create: false
      name: kubecost-serviceaccount
      
networkCosts:
  enabled: true
  config:
    services:
      amazon-web-services: true
      # google-cloud-services: true
      # azure-cloud-services: true
