kubecostProductConfigs:
  projectID: "AWS_kubecostProductConfigs_projectID"
  clusterName: AWS_kubecostProductConfigs_clusterName
  # productKey:
  #   secretname: productkey
  #   enabled: false #not needed for eval
  awsSpotDataRegion: AWS_kubecostProductConfigs_awsSpotDataRegion
  awsSpotDataBucket: AWS_kubecostProductConfigs_awsSpotDataBucket
  # awsSpotDataPrefix: dev
  serviceKeySecretName: aws-service-key  # Used for Spot Data Feed and Unattached Disks/IP Addresses
kubecostModel:
  warmCache: false
  warmSavingsCache: false
  etl: false
global:
  grafana:
    enabled: false
    proxy: false
prometheus:
  server:
    global:
      external_labels:
        cluster_id: kubecostProductConfigs_clusterName
    retention: 2d
thanos:
  compact:
    enabled: false
  bucket:
    enabled: false
  query:
    enabled: false
  queryFrontend:
    enabled: false
networkCosts:
  enabled: true